

.content {
    padding: 60px;
    padding-top:1px ;
    margin-left: 70px;
    margin-right: 170px;
    
}

.form-content {
    padding: 25px;
}

.loan-form {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    padding-top: 1px;

}

.calculate {
    margin: 10px 0 10px 0;
    background-color: #d3e71f;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
    font-size: 14px;
    width: 100%;
}

input {
    padding: 10px;
    width: 100%;
    outline: none;
    border: 1px solid #edeef6;
    border-radius: 10px;
}

input:focus {
    outline: none;
    background: rgba(0, 120, 250, 0.1);
    transition: transform 0.2s ease;
}

h2 {
    margin-bottom: 0;
    text-align: center;
}

.results {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}



.card-1 {
    color: white;
    background-color: #47a386;
    padding: 20px;
    margin: 10px;
    width: 180px;
    height: 160px;
    border-radius: 5px;
}
.card-2 {
    color: white;
    background-color: #7273c5;
    padding: 20px;
    margin: 10px;
    width: 180px;
    height: 160px;
    border-radius: 5px;
}
.card-3 {
    color: white;
    background-color: #5445db;
    padding: 20px;
    margin: 10px;
    width: 180px;
    height: 160px;
    border-radius: 5px;
}

#monthlyPayment,
#totalInterest,
#totalPayment {
    font-size: 2em;
}

.indicators {
    font-size: 1.3em;
}


@media (max-width: 450px) {

    .results {
        justify-content: center;
    }

    .card-1, .card-2, .card-3 {
        margin-left: 0;
        margin-right: 0;
    }
}